table{
	width: 50%;
	margin: 50px auto;
	font-size: 14px;
	line-height: 1.3em;
	font-family: sans-serif;
	padding: 0;
	border-collapse: collapse; 
	border: 1px solid #ccc;
}


th{
	text-align: left;
	background: #ccccff;
	padding: 0;
	margin: 0;
}
td{
	border-bottom: 1px solid #ccc;
}

td:first-of-type{
	width: 30%;
}
td:nth-of-type(2){
	width: 10%;
}
td:nth-of-type(3){
	width: 60%;
}
